/*Ini CSS*/
*{
    text-decoration: none;
    margin: 1px;
}

body{
    font-family: 'open sans', sans-serif;
}


/* style navigation bar */
nav  {
    display: flex;
    justify-content: space-between;
    background-color: rgb(236, 168, 159);
    position: sticky;
    top: 0px;
    align-items: center;
    @media (max-width: 991px)
}

.header {
    text-align: center;
}

/* style untuk logo */
.logo-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(/assets/logo.png);
    background-size: cover; /*agar tampilannya dynamic*/
    background-repeat: no-repeat;

}


/* style untuk item menu taskbar */
.nav-item {
    border: 0px ;
    border-radius: 15%;
    padding: 0px 11px 0px 11px;
    align-items: center;
    color: rgb(185, 37, 37);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 10px;
    text-decoration: none;
    font-weight: bold;
}

.nav-item:hover {
    text-decoration: underline;
    color: rgb(177, 43, 226);
}

   

/* style banner*/
.home-image {
    height: 300px;
    background-image: url(https://st2.depositphotos.com/1875497/7347/i/450/depositphotos_73475481-stock-photo-abstract-blur-gym.jpg);
    background-size: cover;
    text-align: center;
    background-position: 69%;
}

/* style tulisan dalam banner */
.banner-text {
    padding-top: 100px;
    color: rgb(84, 16, 16);
}

.banner-text h1 {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(101, 54, 54);
    font-size: 40px;
}

.banner-text p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(101, 54, 54);
    font-size: 15px;
}


/* About us */
.kotak-ab {
    height: 300px;
    background-color: rgb(232, 203, 200);
    background-size: cover;
    text-align: center;
    background-position: 69%;
}



.about {
    padding: 40px 40px 0px 40px;
    text-align: center;
}

.about-text {
    padding: 0px 40px 0px 40px;
    text-align: justify;

}



/* <!-- Our Facilities --> */

/* style fasilitas list */
.kotak-fs {
    height: 200px;
    background-color: rgb(231, 191, 187);
    background-size: cover;
    text-align: center;
    background-position: 69%;
}


.fasilitas {
    text-align: center;
    padding: 40px 40px 0px 40px;

}

.Facilities-list {
    display: flex;
    justify-content: space-around;
}

.jenis-kelas {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.jenis-kelas img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Facilities-list>div>h6 {
    text-align: center;
}
   




/* style untuk form */
.kotak-mu {
    height: 300px;
    background-color: rgb(232, 203, 200);
    background-size: cover;
    text-align: center;
    background-position: 69%;
}

.input {
    width: 300px;
    border-radius: 3%;
}

.message-us-section {
    display: flex;
    flex-direction: row;
    align-items: start;
}



.form-result {
    height: 160px;
    border: 1px solid black;
    color: beige;
}

.result-section {
    width: 300px;
    height: 165px;
    margin-left: 50px;
    background-color: white;
}

